n8n-workflows/apify-google-maps-scraper.json
{
  "name": "Apify Google Maps Scraper → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1a8d0f0-f81f-4aff-bc0b-a50211f74519",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Campaign Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "e1a8d0f0-f81f-4aff-bc0b-a50211f74519"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the search string from webhook data\nconst input = $input.first().json;\nconst industry = input.body.industry || '';\nconst location = input.body.location || '';\nconst city = input.body.city || '';\nconst maxLeads = input.body.max_leads || 10;\nconst campaignId = input.body.campaign_id;\nconst userId = input.body.user_id;\n\n// Build search query: \"Industry Country City\"\nlet searchQuery = industry;\nif (location) searchQuery += ' ' + location;\nif (city) searchQuery += ' ' + city;\n\nreturn [{\n  json: {\n    searchQuery,\n    maxLeads,\n    campaignId,\n    userId\n  }\n}];"
      },
      "id": "build-search-params",
      "name": "Build Search Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Bypass HTTP Request node entirely — use $http to POST JSON to Apify\nconst APIFY_TOKEN = 'apify_api_XcY02kFIIUHoV0YoC58jhgL5qvFEYI0RD2yF';\nconst searchQuery = $input.first().json.searchQuery;\nconst maxLeads = $input.first().json.maxLeads;\n\ntry {\n  const response = await $http.request({\n    method: 'POST',\n    url: `https://api.apify.com/v2/acts/compass~crawler-google-places/runs?token=${APIFY_TOKEN}`,\n    headers: {\n      'Content-Type': 'application/json',\n    },\n    body: {\n      searchStringsArray: [searchQuery],\n      maxCrawledPlacesPerSearch: maxLeads,\n      language: 'en',\n    },\n    json: true,\n  });\n\n  return [{\n    json: {\n      success: true,\n      data: response,\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: {\n        message: error.message || 'Unknown error starting Apify run',\n        statusCode: error.statusCode || 500,\n      }\n    }\n  }];\n}"
      },
      "id": "fire-apify-run",
      "name": "Fire Apify Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-fire-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-fire-success",
      "name": "If Fire Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "id=eq.{{ $('Build Search Params').item.json.campaignId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "progress": 10,
            "scraping_status": "running",
            "apify_run_id": "={{ $json.data.data.id }}"
          }
        }
      },
      "id": "update-campaign-running",
      "name": "Update Campaign Running",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "id=eq.{{ $('Build Search Params').item.json.campaignId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "error",
            "scraping_status": "failed",
            "error_message": "={{ 'Apify run failed to start: ' + $json.error.message }}"
          }
        }
      },
      "id": "update-campaign-fire-error",
      "name": "Update Campaign Fire Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, 460],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "jsCode": "// Poll Apify run status using $http — bypasses HTTP Request node\nconst APIFY_TOKEN = 'apify_api_XcY02kFIIUHoV0YoC58jhgL5qvFEYI0RD2yF';\nconst runId = $('Fire Apify Run').item.json.data.data.id;\n\nconst response = await $http.request({\n  method: 'GET',\n  url: `https://api.apify.com/v2/actor-runs/${runId}?token=${APIFY_TOKEN}`,\n  json: true,\n});\n\nconst status = response.data.status;\nconst datasetId = response.data.defaultDatasetId;\n\nlet progress = 30;\nif (status === 'RUNNING') progress = 40;\nif (status === 'SUCCEEDED') progress = 70;\nif (status === 'FAILED' || status === 'ABORTED') progress = 0;\n\nreturn [{\n  json: {\n    status,\n    runId,\n    datasetId,\n    progress,\n    isTerminal: ['SUCCEEDED', 'FAILED', 'ABORTED', 'TIMED-OUT'].includes(status),\n  }\n}];"
      },
      "id": "poll-apify-status",
      "name": "Poll Apify Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "id=eq.{{ $('Build Search Params').item.json.campaignId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "progress": "={{ $json.progress }}",
            "scraping_status": "={{ $json.status === 'SUCCEEDED' ? 'processing' : ($json.isTerminal ? 'failed' : 'running') }}"
          }
        }
      },
      "id": "update-campaign-progress",
      "name": "Update Campaign Progress",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1980, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-succeeded",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-succeeded",
      "name": "If Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-terminal",
              "leftValue": "={{ $json.isTerminal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-terminal-failure",
      "name": "If Terminal Failure",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2420, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "id=eq.{{ $('Build Search Params').item.json.campaignId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "error",
            "scraping_status": "failed",
            "error_message": "={{ 'Apify run ' + $('Poll Apify Status').item.json.status + ': Run ID ' + $('Poll Apify Status').item.json.runId }}"
          }
        }
      },
      "id": "update-campaign-failed",
      "name": "Update Campaign Failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, 340],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fetch Apify dataset results using $http — bypasses HTTP Request node\nconst APIFY_TOKEN = 'apify_api_XcY02kFIIUHoV0YoC58jhgL5qvFEYI0RD2yF';\nconst datasetId = $('Poll Apify Status').item.json.datasetId;\n\nconst response = await $http.request({\n  method: 'GET',\n  url: `https://api.apify.com/v2/datasets/${datasetId}/items?token=${APIFY_TOKEN}`,\n  json: true,\n});\n\n// response is an array of place objects\nconst items = Array.isArray(response) ? response : [response];\nreturn items.map(item => ({ json: item }));"
      },
      "id": "fetch-apify-results",
      "name": "Fetch Apify Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "id=eq.{{ $('Build Search Params').item.json.campaignId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "progress": 90,
            "scraping_status": "saving"
          }
        }
      },
      "id": "update-campaign-saving",
      "name": "Update Campaign Saving",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2640, 100],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Apify Google Places results into leads table format\nconst items = $input.all();\nconst campaignId = $('Build Search Params').item.json.campaignId;\nconst userId = $('Build Search Params').item.json.userId;\n\nconst leads = [];\nfor (const item of items) {\n  const d = item.json;\n  leads.push({\n    json: {\n      campaign_id: campaignId,\n      user_id: userId,\n      company: d.title || d.name || '',\n      first_name: d.contactName || '',\n      email: d.email || d.emails?.[0] || '',\n      phone: d.phone || d.phones?.[0] || '',\n      website: d.website || d.url || '',\n      location: [d.city, d.state, d.countryCode].filter(Boolean).join(', '),\n      address: d.address || d.street || '',\n      rating: d.totalScore || d.rating || null,\n      reviews_count: d.reviewsCount || null,\n      category: d.categoryName || d.categories?.[0] || '',\n      google_maps_url: d.url || d.placeUrl || '',\n      source: 'google_maps',\n      status: 'new'\n    }\n  });\n}\n\nreturn leads;"
      },
      "id": "transform-leads",
      "name": "Transform Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 100]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "save-leads-supabase",
      "name": "Save Leads to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3080, 100],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filterType": "string",
        "filterString": "id=eq.{{ $('Build Search Params').item.json.campaignId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "progress": 100,
            "scraping_status": "completed",
            "status": "active"
          }
        }
      },
      "id": "update-campaign-complete",
      "name": "Update Campaign Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3300, 100],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase Leadomation"
        }
      }
    }
  ],
  "connections": {
    "Campaign Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Search Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Build Search Params": {
      "main": [
        [
          {
            "node": "Fire Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire Apify Run": {
      "main": [
        [
          {
            "node": "If Fire Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Fire Success": {
      "main": [
        [
          {
            "node": "Update Campaign Running",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Campaign Fire Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Running": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Poll Apify Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Apify Status": {
      "main": [
        [
          {
            "node": "Update Campaign Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Progress": {
      "main": [
        [
          {
            "node": "If Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succeeded": {
      "main": [
        [
          {
            "node": "Fetch Apify Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Terminal Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Terminal Failure": {
      "main": [
        [
          {
            "node": "Update Campaign Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify Results": {
      "main": [
        [
          {
            "node": "Update Campaign Saving",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Saving": {
      "main": [
        [
          {
            "node": "Transform Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Leads": {
      "main": [
        [
          {
            "node": "Save Leads to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Leads to Supabase": {
      "main": [
        [
          {
            "node": "Update Campaign Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
